*.DS_STORE

data/airflow_reads/
data/airflow_results/
data/test_results/
data/test_reads/*.fastq.gz
data/test_reads/metadata/
data/test_reads/metadata.rtf

work/
assets/transcriptomes/homo_sapiens/
assets/transcriptomes/saccharomyces_cerevisiae/transcriptome.id
.nextflow/
.nextflow.log
.nextflow.log.*

data/airflow_reads/
data/airflow_results/
data/test_reads/*.fastq.gz
data/test_reads/metadata/