/*
 * -------------------------------------------------
 *  nf-core/rnaseq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params
params {

    // Input/ Output options
    reads                       = ''
    outdir                      = "${baseDir}/results"

    // References
    transcriptome_fasta         = ''
    adapter                     = ''
    annotation                  = ''
    chromosome_file             = ''
}

manifest {
    name            = 'davidfdr/RNA-X'
    author          = """David Fandrei"""
    homePage        = 'https://github.com/davidfdr99/RNA-X'
    description     = """Pipeline to preprocess, quasi-map and quantify RNAseq from fastq files"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '0.02'
}

// Load standard.config by default for all pipelines
/* includeConfig './conf/standard.config'
 */

profiles {
  singularity {
    singularity.enabled=true
    singularity.autoMount=true
  }
}
