manifest {
    mainScript = 'main.nf'
}


process {
    container = 'davidfdr/rnax:sha256:cb6a32c10b419babb69b7cd7f0a5f19062a853f6e47cff12ec3a233540780b9c'
}

docker {
    runOptions = '-u $(id -u):$(id -g)'
}

profiles {
    test {
        process {
            memory = 16.GB
            cpus='4'
            queue='long'
        }
    params.reads = "$baseDir/data/test_reads"
    params.transcriptome_fasta = "$baseDir/assets/transcriptomes/gencode.v42.transcripts.fa.gz"
    params.adapter = "$baseDir/assets/trimmomatic/adapters/TruSeq3-PE.fa"
    params.outdir = "$baseDir/data/test_result"
    docker.enabled = true
    docker.fixOwnership = true
}
