manifest {
    name            = 'davidfdr/rnax'
    author          = """David Fandrei"""
    homePage        = 'https://github.com/davidfdr99/rnax'
    description     = """Pipeline to preprocess, quasi-map and quantify RNAseq from fastq files"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '0.02'
}


process {
    container = 'davidfdr/rnax:sha256:89037d3ed45768727955211b9c7aa9cca0a1bc6f0865a5615c032b253de62761'
}

docker {
    runOptions = '-u $(id -u):$(id -g)'
    fixOwnership = true
}

profiles {
    test {
        process {
            memory = 16.GB
            cpus='4'
            queue='long'
        }
    params.reads = "$projectDir/data/test_reads/*_{1,2}.fastq.gz"
    params.outdir = "$projectDir/data/test_results"
    params.adapter="$projectDir/assets/trimmomatic/adapters/TruSeq3-PE.fa"
    params.transcriptome_fasta="$projectDir/assets/transcriptomes/saccharomyces_cerevisiae/Saccharomyces_cerevisiae.R64-1-1.cdna.all.fa"
    params.annotation="$projectDir/assets/transcriptomes/saccharomyces_cerevisiae/Saccharomyces_cerevisiae.R64-1-1.96.gtf"
    params.chromosome_file="$projectDir/assets/transcriptomes/sacCer3.chromSizes"
    }
    hpc_cluster {
        process {
            executor='slurm'
            queueSize = 15
            pollInterval = '5 min'
            dumpInterval = '6 min'
            queueStatInterval = '5 min'
            exitReadTimeout = '13 min'
            killBatchSize = 30
            submitRateLimit = '20 min'
            clusterOptions = '-q debug -t 00:30:00 -C haswell'
        }
    }
} 

