params {
        reads                           = "$projectDir/data/test_reads/*_{1,2}.fastq.gz"
        outdir                          = "$projectDir/data/test_results"
        adapter                         = "$projectDir/assets/trimmomatic/adapters/TruSeq3-PE.fa"
        transcriptome_fasta             = "$projectDir/assets/transcriptomes/saccharomyces_cerevisiae/Saccharomyces_cerevisiae.R64-1-1.cdna.all.fa" 
        annotation                      = "$projectDir/assets/transcriptomes/saccharomyces_cerevisiae/Saccharomyces_cerevisiae.R64-1-1.96.gtf"
        chromosome_file                 = "$projectDir/assets/transcriptomes/sacCer3.chromSizes"
} 
